//Partiel utilisé dans les 5 pages

.containerButton {
	padding: 18px;

	&__button {
		padding: 15px 20px;
		width: 215px;
		background: linear-gradient(
			to bottom right,
			$secondaryColor,
			$primaryColor
		);
		border-radius: 30px;
		color: white;
		box-shadow: 1px 1px 10px 1px #9b9b9bc2;

		&:#{hover} {
			filter: brightness(1.1);
			box-shadow: 1px 1px 10px 1px grey;
		}
	}
}