* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto',  sans-serif;
    letter-spacing: 0.7px;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

:any-link {color : black};