//Partiel utilisé dans les 4 pages de menus

.mainMenu {
	display: flex;
	flex-direction: column;
	background-color: $containerBackground;

	&__header {
		position: relative;
		height: 100%;
		width: 100%;

		img {
			width: 100%;
			height: 250px;
			filter: brightness(1.1);
			object-fit: cover;

			@include tablet-only {
				height: 600px;
			}

			@include desktop-only {
				height: 600px;
			}
		}
	}
}

.headerMenu {
	display: flex;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 10px;

	&__returnArrow {
		padding-left: 30px;
		color: $secondaryColorFont;
		font-size: 25px;
		z-index: 1;
	}
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-left: -30px;
	font-size: 0.8rem;
}

.listMenu {
	z-index: 1;
	margin-top: -50px;
	background-color: $containerBackground;
	border-radius: 40px 40px 0 0;

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 20px;
		padding-top: 30px;
		padding-right: 40px;
		font-size: 0.9rem;

		.fa-heart {
			font-size: 25px;
			color: $containerBackground;
			text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
		}
	}
}

.appetizer {
	@include tablet-only {
		margin-right: 15px;
		width: 47%;
	}

	@include desktop-only {
		margin-right: 25px;
		width: 30%;
	}
}

.dishes {
	margin: 0 15px 15px 15px;

	@include tablet-only {
		display: flex;
		flex-wrap: wrap;
	}

	@include desktop-only {
		display: flex;
		flex-wrap: wrap;
	}

	&__title {
		font-weight: 300;
		margin-bottom: 3px;
		padding-top: 25px;
		content: "";
		padding-left: 5px;
	}

	span {
		background: $tertiaryColor;
		height: 0.2em;
		display: block;
		position: relative;
		width: 3rem;
		left: 5px;
		margin-bottom: 15px;
	}
}

.dishesList {
	display: flex;
	align-items: center;
	background-color: white;
	margin-bottom: 15px;
	border-radius: 15px;
	height: 70px;
	width: 100%;
	box-shadow: 1px 1px 10px 1px #9b9b9b48;
	overflow: hidden;
	//transition: all ease-in-out 0.35s;
}

.FadeInMenu1 {
	opacity: 0;
	margin-top: 30px;
	animation: fadeInOpacity .9s ease-in-out 1s both;
}

.FadeInMenu2 {
	opacity: 0;
	margin-top: 30px;
	animation: fadeInOpacity 1s ease-in-out 1.1s both;
}

.FadeInMenu3 {
	opacity: 0;
	margin-top: 30px;
	animation: fadeInOpacity 1.1s ease-in-out 1.2s both;
}

.FadeInMenu4 {
	opacity: 0;
	margin-top: 30px;
	animation: fadeInOpacity 1.2s ease-in-out 1.2s both;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;		
	}
	100% {
		margin-top: 0;
		opacity: 1;
	}
}

.theMenu {
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 5px 10px;

	&__title {
		font-size: 1.1rem;
		width: 100%;
		margin-bottom: 10px;
		white-space: nowrap;
	}

	&__info {
		width: 100%;
		white-space: nowrap;
	}
}

.priceChoice {
	display: flex;
	justify-content: space-between;
	width: 30%;
	height: 100%;
	overflow: hidden;
	position: relative;
	right: -65px;
	transition: all ease-in-out 0.35s;

	&__price {
		display: flex;
		align-items: flex-end;
		margin-bottom: 10px;
		padding-right: 10px;
	}

	&__choice {
		background-color: $tertiaryColor;
		padding: 20px;
		height: 100%;
		border-radius: 0 15px 15px 0;
		font-size: 1.5rem;
		color: white;
		transition: transform all ease-in-out 0.35s;
	}
}

.dishesList:hover {
	& div:nth-child(2) {
		position: relative;
		right: 0px;
	}

	& .theMenu p {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.dishesList:hover .dishesList__infos {
	transition-duration: 350ms;
	transition-property: transform;
	transition-timing-function: ease-in-out;
	width: 100%;
}

.dishesList:hover .info {
	///////////////
}

.fa-check-circle {
	transition-duration: 350ms;
	transition-property: transform;
	transition-timing-function: ease-in-out;
	transform: rotate(-360deg);
}

.dishesList:hover .fa-check-circle {
	transition-duration: 350ms;
	transform: rotate(0);
}

.info {
	font-weight: 300;
	font-size: 1rem;
	width: 15rem;
	white-space: nowrap;
	overflow: hidden;
}

.price {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	font-weight: 600;
	color: $secondaryColorFont;
}

.menuButton {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;

	&__text {
		text-align: center;
	}
}
