.loader {
	position: absolute;
	width: 100%;
	height: 100vh;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
    animation: fadeOutOpacity .5s ease-in-out 3s both;
}

.headerHome {
	opacity: 0;
	animation: fadeInOpacity .5s ease-in-out 3s both;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.lettre {
	color: $primaryColor;
	font-size: 2rem;
	letter-spacing: 15px;
	margin-bottom: 150px;
	animation: flash 1.2s linear infinite;

	@include tablet-only {
		font-size: 4.5rem;
	}

	@include desktop-only {
		font-size: 10rem;
	}
}

@keyframes flash {
	0% {
		color: $secondaryColor;
		text-shadow: 0 0 7px $secondaryColor;
	}

	90% {
		color: $primaryColor;
		text-shadow: none;
	}

	100% {
		color: $secondaryColor;
		text-shadow: 0 0 7px $secondaryColor;
	}
}

.lettre:nth-child(1) {
	animation-delay: 0.1s;
}

.lettre:nth-child(2) {
	animation-delay: 0.2s;
}

.lettre:nth-child(3) {
	animation-delay: 0.3s;
}

.lettre:nth-child(4) {
	animation-delay: 0.4s;
}

.lettre:nth-child(5) {
	animation-delay: 0.5s;
}

.lettre:nth-child(6) {
	animation-delay: 0.6s;
}

.lettre:nth-child(7) {
	animation-delay: 0.7s;
}

.lettre:nth-child(8) {
	animation-delay: 0.8s;
}

.lettre:nth-child(9) {
	animation-delay: 0.9s;
}

.lettre:nth-child(10) {
	animation-delay: 0.1s;
}

.fadeOut {
	opacity: 0;
	transition: opacity 0.4s ease-out;
}
