//Partiel utilisé dans : index.html

.operation {
	padding: 40px 0;

	@include tablet-only {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@include desktop-only {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container {
		@include tablet-only {
			width: 75%;
		}

		@include desktop-only {
			display: flex;
			align-items: center;
		}
	}
}


.header {
		&__title {
			padding-left: 25px;
		}
	}