//Partiel utilisé dans : index.html

.restaurant {
	padding: 40px 0 60px 0;
	background-color: $containerBackground;

	@include tablet-only {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@include desktop-only {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__bloc {
		display: flex;
		flex-direction: column;

		@include tablet-only {
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
		}

		@include desktop-only {
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
}

.news {
    position: absolute;
    top: 0;
    right: 0;
	margin-top: 15px;
    margin-right: 15px;
	padding: 5px 10px;
    border-radius: 2px;
	z-index: 100;
	color: #008766;
	background: $tertiaryColor;
}
