//Partiel utilisé dans : index.html

.restaurant {
	padding: 40px 0 60px 0;
	background-color: $containerBackground;

    @include tablet-only{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     @include desktop-only{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

	&__bloc {
		display: flex;
        flex-direction: column;

        @include tablet-only {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include desktop-only {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }
	}
}
