@mixin tablet-only {
	@media screen and (min-width: map-get($breakpoints, tablet-min)) and (max-width: map-get($breakpoints, tablet-max)) {
		@content;
	}
}

@mixin desktop-only {
	@media screen and (min-width: map-get($breakpoints, desktop)) {
		@content;
	}
}

@mixin mini-mobile-only {
	@media screen and (max-width: map-get($breakpoints, mini-mobile)) {
		@content;
	}
}
