//Partiel utilisé dans : index.html

.card {
	margin: 20px 20px 0 20px;
	border-radius: 15px;
	box-shadow: 1px 1px 10px 1px #9b9b9b48;
	background-color: white;
	position: relative;

	&__image {
		width: 100%;
		img {
			width: 100%;
			height: 200px;
			object-fit: cover;
			border-radius: 15px 15px 0 0;

			@include tablet-only {
				width: 300px;
				height: 200px;
			}

			@include desktop-only {
				width: 300px;
				height: 200px;
			}
		}
	}

	.containerRes {
		display: flex;
		justify-content: space-between;
		position: relative;

		&__content {
			padding-top: 10px;
			padding-left: 15px;
			height: 75px;

			p {
				padding-top: 5px;
			}
		}

		&__like {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			fill: transparent;
			stroke-width: 20;
			cursor: pointer;
			position: relative;
			padding-right: 25px;

			svg {
				overflow: visible;
				width: 1.5rem;
			}

			path {
				stroke-dashoffset: 0;
				stroke-dasharray: 1550;
				transform-origin: center;
			}

			.heart-main {
				fill: transparent;
				stroke: black;
				position: absolute;
				z-index: 2;
			}
			.heart-second {
				fill: url(#gradientheart);
				visibility: hidden;
				position: absolute;
				z-index: 1;
			}

			&:hover :nth-child(1) {
				stroke: none;
				visibility: hidden;
			}
			&:hover :nth-child(2) {
				visibility: visible;
				animation: fadeInOpacityy 0.3s ease-in 0.1s both;
			}
		}
	}
}

@keyframes fadeInOpacityy {
	0% {
		opacity: 0;
		transform: translateY(5px)
	}
	100% {
		opacity: 1;
		transform: translateY(0px)
	}
}
