.footer {
	background-color: $secondaryColorFont;
	color: white;

	&__logo {
		font-size: 0.8rem;
		padding: 25px;

		@include tablet-only {
			text-align: center;
		}

        @include desktop-only {
			text-align: center;
            font-size: 1.2rem;
		}
	}
}

.footerInfos {
	display: flex;
	flex-direction: column;
	padding: 0 0 35px 25px;

	&__info {
		margin-bottom: 10px;
	}

	&__info a {
		color: white;
		margin-left: 10px;

		@include tablet-only {
			margin-left: 0px;
		}

		@include desktop-only {
			margin-left: 0px;
		}
	}

	a {
		margin-bottom: 10px;
		color: white;

		@include tablet-only {
			margin-right: 20px;
		}

		@include desktop-only {
			margin-right: 20px;
		}
    }

	@include tablet-only {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	@include desktop-only {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}

.fa-hands-helping {
	font-size: 13px;
}
