//Partiel utilisé dans : index.html

.steps {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;

	&__number {
		background-color: $primaryColor;
		padding: 5px 10px;
		margin: 20px -15px 20px 0;
		border-radius: 50px;
		color: white;
		z-index: 1;
	}
}

.step {
	display: flex;
	justify-content: start;
	align-items: center;
	background-color: $containerBackground;
	margin: 5px 0;
	padding: 25px;
	width: 100%;
	border-radius: 20px;
	box-shadow: 1px 1px 10px 1px #9b9b9b48;

	&:hover{
		background-color: #f5edff;    
	}

	&:hover &__icon{
		color: #9356DC;    
	}

	&__icon {
		padding-left: 15px;
		font-size: 25px;
		color: #7e7e7e;
	}

	&__content {
		padding-left: 30px;
		font-weight: bold;
		font-size: 1.1rem;
	}
}